<p>Nova Categoria</p>
<form id="add-form" (ngSubmit)="f.form.valid && enviarNovaCategoria(f)" #f="ngForm" novalidate>
    <div class="form-group">
        <input type="number" hidden [(ngModel)]="categoria.id" id="id" name="id"  class="form-control" #id="ngModel">
        <label for="descricao">Descrição</label>
        <input type="text" [(ngModel)]="categoria.descricao" id="descricao" name="descricao" #descricao="ngModel" required
            class="form-control">
        <div *ngIf="f.submitted && descricao.invalid" class="invalid-feedback">
            <div *ngIf="descricao.errors.required">Campo Obrigatório</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
</form>